
h1 {
    text-align: center;
    background-color: #667292;
    color: white;
    padding-top:20px;
    padding-bottom:20px;
}

p{
    margin-top: 20px;
}

a{
    font-size: 17px;
    vertical-align: middle;
    color: #667292;
    margin:10px;
}

a:hover {
    color:#77a8a8;
}


.but{
    margin-top:20px;
}
body{
    font-size: 15px;
    background-color: #f0f0f0;
}
/*.rainbow{*/
    /*background-color: #f0f0f0;*/
/*}*/